body {
    background-color: #185ADB !important;
}
.center_div {
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    border-radius: 5px;
    margin-top: 10%;
}
h1 {
    text-align: center;
    color:white ;
    margin-top: 5%;
    padding-top: 100px;
    font-family: cursive;
}